body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: #4285f4;
  padding: 0.6em 2em;
  h1 {
    color: #fff;
    font-size: 2em;
  }
  span {
    color: #fff;
    margin-left: 10px;
    .profile-email {
      font-size: 12px;
    }
  }
}
.font-bold {
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 52px;
}
.spinner-border {
  position: relative;
  left: 50%;
}
.mt-custom {
  margin-top: 40px;
}
.mt-custom-button {
  margin-top: 30px;
}
.pointer {
  cursor: pointer;
}
.custom-center {
  margin-top: 25%;
}
